{
    "numberOfDaysRetention": 0,
    "numberOfVersionsRetention": null,
    "oLACEnabled": true,
    "autoPurgeEnabled": true,
    "managingCPM": "",
    "safeName": "${safe_name}",
    "description": "poc infra safe",
    "location": ""
}
